/*	VCU LIBRARIES customizations 
		Erin White erwhite@vcu.edu 2011-2013
*/

/* fix spacing for VCU logo */
#exlidHeaderTile { 
	padding-top: 0 !important;
}

/* make result titles and action links a little bigger */
.EXLResultsList h2,
.EXLTabsRibbon div li { 
	font-size: 110% !important; 
	line-height: 1.35em; 
}

/* remove scope dropdown from basic search */
.EXLSearchFieldRibbonFormFields .EXLSearchFieldRibbonFormSelectedCollection  {
	display: none !important;
}

.EXLSearchFieldRibbon.EXLSearchFieldRibbonPreFilters {
	display: inline-block;
}

#exlidSearchRibbon {
	width: auto !important;
}

#exlidSearchRibbon fieldset {
	width: 45em !important;
}

/* fix breaking on advanced search */
#exlidAdvancedSearchRibbon input[type="text"] {
	width: 18em !important;
}
#exlidAdvancedSearchRibbon select { width: 115px !important; }

/* reinstate tags/comments 2012-03-02 */
.EXLTabsRibbon div li.EXLReviewsTab {display:block !important}

/* hide sign out link 2012-03-22 // reinstated 2012-08-10
li#exlidSignOut a[href^="logout"] { display: none; }*/

/* make the links menu flush right */
#exlidMainMenuTile div.EXLMainMenuContainer { width: 100% !important; text-align: right; }

/* show that books and media facet on mobile - @erwhite 2012-10 */
@media screen and (max-width: 500px) {
	#exlidTopLevelFacetsTile {display: block !important; width: auto !important; }
	.EXLTopLevelFacetItem:nth-of-type(2),         
	.EXLTopLevelFacetItem:nth-of-type(3)  { display: none; }	
	#exlidSearchRibbon fieldset { width: 100% !important; }
	.EXLSearchFieldRibbonAdvancedSearchLink a.EXLSearchFieldRibbonAdvancedTwoLinks, .EXLSearchFieldRibbonBrowseSearchLink a { display: none }
}


/* TEMPORARY - hide e-shelf 
#exlidMyShelf,
.EXLMyAccountFirstTab,
.EXLMyShelfStar,
.EXLButtonSendToMyShelf,
.EXLFacetSaveToEShelfAction {
	display: none !important;
}*/


/* 
	BEGIN browse/advanced search links
	added with Primo 4.3
	2013/02/26
*/

/* make input box 100% wide */
.EXLSearchFieldRibbonFormSearchFor {
	width: 100% !important;
}

/* ...except on browse */
.EXLBrowseFieldRibbon .EXLSearchFieldRibbonFormSearchFor {
	width: auto !important;
}

.EXLBrowseList #resultsNumbersTile h1 {
	font-size: 1em;
	color: #444;
}

.EXLAdvancedBrowseRibbon div.EXLSearchFieldRibbonFormSubmitSearch {
	width: auto;
}

#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon input.submit {
	padding: 0 12px;
}

/* 	space out and embiggen advanced/browse links */
.EXLSearchFieldRibbonAdvancedSearchLink,
.EXLSearchFieldRibbonBrowseSearchLink {
	width: auto !important;
	display: inline-block !important;
	height: 3em !important;
	float: none !important;
	margin-left: 1em;
}

.EXLSearchFieldRibbonAdvancedSearchLink a.EXLSearchFieldRibbonAdvancedTwoLinks,
.EXLSearchFieldRibbonBrowseSearchLink a {
	font-size: 1em;
}

/* 
	END browse/advanced search links
*/

/* citation linker special styles */
.EXLCitationLinkerHeader h1 {
	font-size: 1.5em;
	margin: 0;
	padding: 0 12px;
	color: #444;
}